@page "/"
@using ML5.Blazor.Samples.Shared
<h1>ML5.Blazor</h1>

<p>
    ML5.Blazor is an open-source Blazor wrapper for ML5.js.
    The project aims to replicate ml5.js API using C#/blazor strong typed capabilities.
</p>

<p>
    Under the hood TypeScript is used to build all the interaction between blazors's Interoperability and ML5.
</p>

<div class="mt-3">
    <h3>How to compile?</h3>
    <b>Prerequisites</b>
    <ul>
        <li>Node.JS: Used for webpack compilation of output files.</li>
        <li>TypeScript compilation is done with Microsoft.TypeScript.MSBuild, which is already included as a dependency.</li>
    </ul>
</div>
<div class="mt-3">
    <h3>How to contribute?</h3>
    <ul>
        <li>Use ML5.Blazor and send any feedback by creating an issue (bugs or feature requests).</li>
        <li>Send me a PR with a good explanation of the change/upgrade</li>
        <li>Contact me on <a href="https://twitter.com/juanumusic">twitter</a> for any question or suggestions.</li>
    </ul>
</div>


Clone, Fork, Star or give love: https://github.com/juanumusic/ml5.blazor

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
